APP_NAME=example

IMAGE_TAG=latest

REGISTRY=${{project.REGISTRY}}
REGISTRY_NS=${{project.REGISTRY_NS}}
APPDATA_ROOT=${{project.APPDATA_ROOT}}
TZ=${{project.TZ}}
LOG_MAX_SIZE=${{project.LOG_MAX_SIZE}}
LOG_MAX_FILE=${{project.LOG_MAX_FILE}}
